<div class="row">
  <div class="small-12 columns">
    <h2>Log in</h2>
    <!--form-->
    <form novalidate
          (ngSubmit)="save()"
          [formGroup]="loginForm">
      <!--email-->
      <div class="fields">
        <input [ngClass]="{'has-error': emailMessage}" class="form-control"
               id="emailId"
               type="email"
               placeholder="Email"
               formControlName="email">
        <!--error-->
        <span class="error" *ngIf="emailMessage">{{ emailMessage }}</span>
      </div>

      <!--password-->
      <div class="fields">
        <input [ngClass]="{'has-error': passwordMessage}" class="form-control"
               id="passwordlId"
               type="password"
               placeholder="Password"
               formControlName="password">
        <!--error-->
        <span class="error" *ngIf="passwordMessage">{{ passwordMessage }}</span>
      </div>
      <!--button-->
      <div class="fields">
        <button type="submit" class="button expanded" [disabled]="!loginForm.valid">
          Log In
        </button>
      </div>
    </form>
  </div>
</div>



